

/*@media (max-width: 950px) and (max-height: 850px) {
  .content-game {
    width: 100%;
  }
}

@media(max-height: 671px) {
  .content-game {
    width: 40%;
    height: 70%
  }
}

@media(max-height: 671px) and (max-width: 1150px) {
  .content-game {
    width: 80%;
    height: 80%;
  }
}

@media(max-height: 671px) and (max-width: 1300px) {
  .content-game {
    width: 60%;
    height: 80%;
  }
}



@media (max-width: 5020px)  and  (max-height: 1200px) {
  .content-game {
    width: 60%;
  }
}*/




