body{
    margin: 0;
    background-color: #43BAD6;
    background-image: url("../images/body_background.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: repeat-x;
}

.main-content{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Gotham Book";
    font-weight: 100;
    font-size:2vh;
}

.banner-content{
    position: relative;
    width: 100%;
    background-color: white !important;
    display: inline-block;
}

.logo-brand{
    position: relative;
    width: 35%;
    color:#FFF;
    text-align: center;
    font-size:2vh;
    margin-left: 0%;
    display: inline-flex;
    left: 10%;
}

.banner-game{
    position: relative;
    width: 45%;
    text-align: center;
    padding-top: 0.2%;
    display: inline-flex;
    left: 10%;
}

.banner-game img{
    width: 85%;
}

.games-img{
  width: 19%;
  padding: 0 2% 0 0;
}

#yogotars{
    position: absolute;
    width: 100%;
}

#yogotars img{
    width: 20%;
    height: auto;
    max-height: 100%;
}

.luna{
        float: right;
    }

    .eagle{
        float: left;
    }

.logo_sm{
    display: none;
}

.content-game{
    position: relative;
    margin: 1% auto;
    border-radius: 25px;
    background-color: #261949;
    background-image: url("../images/game_border.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: top center;
    height: 80%;
    display: flex;
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.74);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.74)top left;
    width: 40%;  /*  Cambia este para ajustar ancho en pantallas grandes */
}

#game-container{
    background-color: #2F90CC;
    position: relative;
    width: 100%;
    height: 94%;
    margin:3%;
}


@media all and (orientation: portrait){
	body{
		margin: 0px !important;
		padding: 0px !important;
	}

	.main-content{
		width: 100% !important;
		height: 100% !important;
	}


	.content-game{
    min-width: none;
		max-width: 100% !important;
		width: 100% !important;
		position: fixed !important;
		transform: translateY(0) !important;
		top: 0px !important;
		margin: 0px !important;
		padding: 0px !important;
		height: 100% !important;
		max-height: 100% !important;
    border-radius: 0;
    background-color: white;
    background-image: none;
    }

    .content-game #game-container{
        width: 100%;
        height: 100%;
    }

    #yogotars{
        display: none;
    }
	.game-canvas{
		width: 100% !important;
		margin: 0px !important;
		padding: 0px !important;

	}

    .game-instructions {
        display: none;
    }

	.description-content{
		display: none !important;
	}
}

@media only screen
    and (max-device-width : 768px)
    and (orientation : landscape)
{
    .banner-content{
        display: none;
    }

    .luna{
        display: none;
    }

    .eagle{
        float: right;
    }
    .logo_sm{
      display: flex;
      position: absolute;
      width: 13%;
      bottom: 50%;
      transform: translateY(50%);
    }

    .content-game{
        top: 8%;
        width: 50%;
    }

    .banner-games{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 0.2%;
    display: inline;
    }

    .banner-games img{
     width: 60%;
    }
    .games-img{
        width: 100%;
        padding-bottom: 10%;
    }

     .logo-brand{
    position: relative;
    width: 100% !important;
    left: 0;
    }

    .games-container{
        background-color:  white;
        padding: 15px 0;
        border-radius:0 10px 10px 0;
    }
}
