
body{
    margin: 0;    
    background-color: #bababa;
}

.main-content{
    position: absolute;
    background-color: #4B2E75; 
    background-image: url("../../../../front-end/images/themes/amazing/body_pattern_amazing.png");    
    width: 100%;
    height: 100%;
    font-family: "Gotham Book";
    font-weight: 100;
    font-size:2vh;
}

.banner-content{
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, rgba(149,19,132,1) 0%, rgba(185,27,114,1) 50%, rgba(212,36,94,1) 100%); 
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    display: flex;
}
    
.logo-amazing{
    position: relative;
    width: 35%;
    color:#FFF;
    text-align: center;
    font-size:2vh;
    margin-left: 15%;
	margin-top: 0.6%;
}

.logo-amazing img{
    width: 55%;
}

.banner-game{
    position: relative;
    width: 40%;
    color:#FFF;
    text-align: center;
    top: 5%;
    
}

.banner-game img{
    width: 100%;
}

.content-game{
    position: relative;
    margin: 1% auto;
    background-color: #261949;
    height: 80%;
    display: flex;
}

/*delete*/
.content-game #game-container{
    background-color: #2F90CC;
    position: relative;
    width: 50%;
    height: 94%;
    margin:2%;
}
.content-game .game-instructions{
    position: relative;
    width: 50%;
    height: 94%;
    margin:2%; 
    background-color: #E5E5E5;    
}
/*delete*/

.game-instructions .section-screen{
    position: relative;
    width: 100%;
    background-color:#FFF;
    margin-bottom: 1%;
}

.instructions-banner{
    position: relative;
    height:40%;
}

.instructions-banner img{
    width: 100%;
    
}

.instructions-howtoplay{
    height: 30%;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    overflow: hidden;
}

.banner-img img{
    width: 100%;
}

.howtoplay-bar{
    position: relative;
    width: 100%;
    height: 28%;
    display: inline-flex;
    background: linear-gradient(to bottom, rgba(149,19,132,1) 0%, rgba(185,27,114,1) 50%, rgba(212,36,94,1) 100%);    
}

.bar-control{
    position: relative;
    height: 100%;
    margin: 0 5%;
}

.bar-control img{
    height: 80%;
}

.bar-control:nth-child(3){
    transform: rotateY(180deg)
}

.bar-text{
    position: relative;
    width: 100%;
    text-align: center;
    height: auto;
    color:#FFF;
    font-size: 2.5vh;
    line-height: 2.5;
}

.howtoplay-img{
    position: relative;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.howtoplay-img img{
    width: auto;
    height: 73%;
}

.instructions-socialmedia{
    height: auto;
}

.socialmedia-content{
    display: flex;
}

.socialmedia-bar{
    position: relative;
    width: 100%;
    height: 7%;
    background-color: #108E8E;
    color:#FFF;
    text-align: center;
    line-height: 2.5;
}

.socialmedia-logo{
    position: relative;
    width: 40%;
    height: 6%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
        font-size: 1.5vh;

}

.socialmedia-logo img{
    width: 100%;
}


.socialmedia-line{
    position: relative;
    height: 15%;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 1%;
    background-color: #108E8E;
}

.socialmedia-icons{
    text-align: center;
    width: 15%;

}

.socialmedia-icons img{
    width: 80%;
    margin-top: 50%;
}

#img-orientation{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;

}

#img-orientation img{
    position: relative;
    top:40%;
    width: 20%;
}
