body{
	margin: 0;
}

iframe{
	border-style: 0;
	margin: 0;
}

.main-content{
	width: 100%;
}

.header-content{
	width: 100%;
	height: auto;
	text-align: center;
    background-image: url("../images/homepage/pinkPattern.png");
    background-repeat: repeat;
}

.header-logo, .header-banner{
	display: inline-block;
	margin: 20px;
}

.middle-content{
	background-color: #ededed;
	background: url("../images/homepage/bg.jpg") no-repeat center center;
	height: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    text-decoration: none;
}

.game-content{
	position: relative;
	transform: translateY(-50%);
	top:50%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	height: 90%;
	max-width: 1024px;
	max-height: 90%;
	background-color: #ffffff;
    background: url("../images/homepage/chalkboardPattern.jpg");
}

.game-canvas{
	float: left;
	display: block;
	margin-left: 1%;
	width: 65%;
}

.description-content{
	float: left;
	display: block;
	width: 34%;
	height: 100%;
    background-color: #fff;
    border-radius: 0px 16px 16px 0px;
    -moz-border-radius: 0px 16px 16px 0px;
    -webkit-border-radius: 0px 16px 16px 0px;
    border: 0px solid #000000;
}

.description-content div{
	margin: 0px;
	width: 100%;
	display: block;
	text-align: center;
}