body{
    background-color:#FF4560;
    font-family: "VAGRounded";
    color: #FFF;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#logoMath{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 15%;
}


#logoMath img{
    height: 100%;
}

#settings{
    padding: 2vh;
    text-align: center;
    font-size: 4vh;
}

#settings input{
    height: auto;
    font-size: 4vh;
    border-radius: 1vh;
    text-align: center;
    font-family: "VAGRounded";
    background-color: #FFF;
    color:#1B3473;
    padding: 1vh;
}

#start{
    opacity:0.5;
}

#MenuYogotar{
    display: table;
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 1;
}

#MenuYogotar .arrow-menu{
    width: 50%;
    display: table-cell;
    vertical-align: bottom;
}

#MenuYogotar .arrow-menu img{
    width: 20%;
    max-width: 50px;
}

#arrowLeft{
    padding-left: 30%;
}

#arrowRight{
    padding-right: 30%;
    text-align: right;
}

#avatar{
    position: relative;
    height: 30%;
    display: flex;
    width: auto;
        margin-top: 5%;
}

.yogotarBlock{
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%,20%);
    
}

.yogotarBlock img{
    height: 100%;
}

#nameYogo{
    position: relative;
}

#nameYogotar{
    width: 100%;
    top: 17%;
    position: absolute;
    text-align: center;
}

#nameYogotarStroke{
    width: 100%;
    top: 17%;
    position: absolute;
    text-align: center;
    -webkit-text-stroke: 20px #34449E;
}

hr{
    margin:1%;
}

#infoContainer{
    position: relative;
    margin-top: 4%;
}

@media only screen and (max-width: 768px) {
        #infoContainer{
        position: relative;
        margin-top: 15%;
    }    

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #infoContainer{
        position: relative;
        margin-top: 14%;
    }    

    #MenuYogotar #arrowLeft img {
        width: 20%;
        padding-right: 10vh;
        max-width: 100px;
      }   
      
}
