@font-face {
	font-family: 'GothamCocogoose';
	src: url('../font/Cocogoose_trial.otf');
	/*src: local('Gotham Book'), local('Gotham-Book'),
		url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book.otf') format('truetype');*/

}

@font-face {
	font-family: 'Luckiest Guy';
	src: url('../font/LuckiestGuy-Regular.ttf');
	/*src: local('Gotham Book'), local('Gotham-Book'),
		url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book.otf') format('truetype');*/
	font-weight: normal;
	font-style: normal;
}