/*THEME*/
body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1864;
    overflow: hidden;
    font-family: 'Baloo Chettan', cursive; 
    
}



#starsField{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
#container{
    position: absolute;
    height: 100%;
    width: 100%;
/*    background:url("../images/stars01.png"), linear-gradient(to bottom, #632c94 0%, #1b1464 100%);*/
    background:url("../images/stars01.png"), linear-gradient(to bottom, #632c94 0%, #1b1464 100%);
    transition: background 0.8s ease;
}

#header{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: #2b8ecd;
    z-index: 1;
    box-shadow: 10px 3px 10px rgba(0,0,0,0.5);
}

#header .logo{
    position: relative;
    height: 100%;
    background-color: #2b8ecd;
    padding: 1vw;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 0.7vw;
}

#selectgame{
    position: absolute;
    width: 50%;
    margin: 0vw;
    right: 3%;
    height: 95%;
    overflow-y: scroll;
    right: 0;
    /*transform-style: preserve-3d;
    transform: rotateY(-55deg) rotateZ(32deg);*/
}

.container-gameSelect{
    position: relative;
    width: 80%;
    border-radius: 1vw; 
    margin: 1vw;    
    overflow: hidden;  
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
    transform: translate(20%,0);
}

    .game-active{
         transform: translate(0%,0);
    }

.container-gameSelect p{
    line-height:0;
    font-size: 20px;
    color: #FFF;
    margin: 0;
    
}

.name-select{ 
    position: relative;
    /*background: linear-gradient(to right, rgb(40, 153, 235) 40%, rgba(255,255,255,0.7) 100%);*/
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    padding: 2vw;
    border-radius: 1vw;   
    overflow: hidden;
    color:#fff;
    z-index: 1;
    
}

.bg-selectgGame{
    border-radius: 1vw;   
    position: absolute;
    width: 120%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 70%;
    z-index: 0;
    top: 2%;
    left: 0%;
    opacity: 0.5;
    
}

#bannerGame{
    position: absolute;
    top:6%;
    width: 45%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bgbannerblue.png");
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: center; 
    z-index: 1;
}

#bannerGame img{
    transition: width 0.5s;
    width: 70%;
    border-radius: 3vw;   
}

#difficultyGame{
    position: absolute;
    top: 51%;
    width: 50%;
    height: 6%;
    z-index: 1;
}

#difficultyGame p{
    position: absolute;
    color: #FFF;
    left: 7%;
    z-index: 2;
    top: -40%;
    font-size: 1.4vw; 
}

#imgDifficulty{
    position: absolute;
    height: 100%;
    width: 80%;
    left: 5%;
    z-index: 2;
    background-image: url("../images/difficultygame.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#gradientDifficulty{
    transition: width 0.5s;
    position: absolute;
    width: 70%;
    height:85%;
    top: 3%;
    left: 13%;
    transform: translate(0%,0%);
    background: linear-gradient(to right, rgba(247,148,0,1)  0%,rgba(241,74,36,1) 100%);
    z-index: 0;
}

#bgwhiteDifficulty{
    position: absolute;
    width: 70%;
    height:85%;
    top: 3%;
    left: 13%;
    transform: translate(0%,0%);
    background-color: #FFF;
    z-index: 0;
}

/*CHART*/
.wrapper canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    background-color:rgba(250,250,250,0.8);
}

#radar{
    position: absolute;
    top: 60%;
    left:-2%;
    width: 35%;
    background-image: url("../images/gameradar.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 47%;
    
}

#playGameButton{
    background-color: #4fb502;
    padding: 0.5vw;
    font-size: 2vw;
    width: 10%;
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0px 5px 0px #005e2f, 0px 2px 0px 8px #FFF;
    position: absolute;
    color:#FFF;
    top:58%;
    left:35%;
    transform: translate(-50%,50%);
    z-index: 2;
}

/*FOOTER*/

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 6%;
/*
    background-color: rgba(43, 142, 205,0.6);
    z-index: 2;
*/
}

#cherry{
    position: absolute;
    z-index: 12;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%,0);
}

/*Small devices (landscape phones, 576px and up)*/
@media screen and (orientation: portrait) {
    #header .logo{
        position: relative;
        height: 90%;
        left: 50%;
        background: none;
    }
    
    #selectgame{
        position: absolute;
        width: 100%;
        height: 45%;
        top: 45%;
        left: 0%;
        text-align: center;
        overflow-y: scroll;
        z-index: 2;
    }    
    

    .container-gameSelect{
        position: relative;
        left:5%;
        width: 90%;
        opacity: 0.5;
        border-radius: 14vw; 
        margin: 1vw;    
        overflow: hidden;  
        background-repeat: no-repeat;
        background-position: center;
        
        transition: opacity 0.5s ease;
        transform: translate(0%,0%);
    } 
    
    .game-active{
        opacity: 1;
    }

    .bg-selectgGame{
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 2%;
        left: 0%;
        opacity: 0.5;

    }    

    #bannerGame{
        top:0%;
        width: 100%;
        background-size: 90%;
    }

    #bannerGame img{
        width: 78%;
        border-radius: 5vw;   
    }    
    
    #radar{
    display: none;
    }
    

    #difficultyGame{
        top: 39%;
        width: 100%;
        z-index: 1;
        left: 0%;
        height: 5%;
        
    }

    #difficultyGame p{
        position: absolute;
        color: #FFF;
        left: 11%;
        z-index: 2;
        top: -25%;
        font-size: 1.4vw; 
        display: none;
    }

    #imgDifficulty{
        position: relative;
        width: 100%;
        left: 0%;
        z-index: 1;
       background-image: url("../images/levelnumbers.png");
        background-size: 90%;
        background-position: center;
    }

    #gradientDifficulty{
        transition: width 0.5s;
        position: absolute;
        width: 70%;
        height:100%;
        top: 0%;
        left: 0%;
        transform: translate(0%,0%) scaleX(1.85);
        background: linear-gradient(to right, rgba(247,148,0,1)  0%,rgba(241,74,36,1) 100%);
    }

    #bgwhiteDifficulty{
        position: absolute;
        width: 70%;
        height:100%;
        top: 0%;
        left: 0%;
        padding: 0;
        transform: translate(0%,0%)  scaleX(1.85);
        background-color: #FFF;
    }

    #playGameButton{
        font-size:6vw;
        width: 50%;
        top:90%;;
        left:50%;
    }
   
    
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #container{
    background:url("../images/stars01.png"), linear-gradient(to bottom, #632c94 0%, #1b1464 100%);
    }
}