/*
    DEMO STYLE
*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");


body {
    font-family: 'Quicksand', sans-serif;
    background: white;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #525252;
}

.container, .container-fluid{
  padding: 0;
}

#backGround{

  background-image: url("../../images/patter_site.png");
  background-size: 10%;

}

.separator1{
  height: 2vh;
  width: 100%;
}
.separator2{
  height: 10vh;
}
.row {
 margin-left: 0;
 margin-right: 0;
}

h1{
  text-transform: uppercase;
}
/* ---------------------------------------------------
    Colors Play.yogome
----------------------------------------------------- */

.play-colors-green{
  color:#5bd957 !important;
}
.play-colors-blue{
  color:#63A2FF !important;
}

.play-colors-bluesea{
  color:#27227C !important;
}

.play-colors-purple{
  color:#6A0EB4 !important;
}

.play-colors-orange{
  color:#ce482c !important;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar {
    width: 100%;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index:500;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    color: white;
    background-color: #d01c92;
    font-weight: 500;
    padding: 5px 20px;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(130,23,99,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(130,23,99,1);
    box-shadow: 0px 4px 0px 0px rgba(130,23,99,1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-btn:hover{
    background-color: rgba(169,25,118,1);
    color: white;
}
.navbar-btn:active,
.navbar-btn:focus{
  color: white;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(130,23,99,1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(130,23,99,1);
  box-shadow: 0px 0px 0px 0px rgba(130,23,99,1);
}

.btn-burger-menu{
  background-color: rgba(255,255,255,0);
  font-size: 1.7em;
  padding: 0;
  margin:0;
  color: #8f8f8f;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
}

.btn-burger-menu:hover,
.btn-burger-menu:active,
.btn-burger-menu:focus{
  color: #d01c92;
  outline: none !important;
}

.btn-burger-menu i{
  vertical-align: middle;
}


.display-inline{
  display: inline-block;
  vertical-align: middle;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.navbar-logo {
    font-size: 18px;
    line-height: 20px;
    float:left;
}

#navbar-logo-container {
  max-width: 115px;
  min-width: 115px;
  margin: 0 auto;
}

#bs-navbar-collapse-1{
  position: relative;
  float: right;
  right: 0%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 999;
    background: rgba(255,255,255,1);
    color: grey;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#normal_words{
    font:Quiksand-Regular;
    color:gray;
    font-size: 17pt;
    display:inline
}

#especial1{
    font:Quiksand-Medium;
    color:deeppink;
    font-size: 20pt;
    display:inline
}

#especial2{
    font:Quiksand-Medium;
    color:deepskyblue;
    font-size: 20pt;
    display:inline
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(255,255,255,0);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color:grey;
}
#dismiss:hover {
    background: #fff;
    color: #d01c92;

}


.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(255,255,255,1);
}

#sidebar ul.components li ul li{
    padding: 10px 0;
    border-bottom: 1px solid #a0b6eb;
    text-align: center;
    margin: 0 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: center;
    text-transform: uppercase;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.btn{
    padding: 1vh;
    max-width: 250px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
}

.btn-orange{
  background-color: rgba(255,145,46,1);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(204,51,0,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(204,51,0,1);
  box-shadow: 0px 5px 0px 0px rgba(204,51,0,1);
}

.btn-orange:hover{
  background-color: rgba(206,114,52,1);
  color: white;
}

.btn-orange:active,
.btn-orange:focus{
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow:0 0 0 0;
  box-shadow: 0 0 0 0;
  transform: translateY(5px);
}

.btn-purple{
  background-color: rgba(225,39,160,1);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(130,23,99,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(130,23,99,1);
  box-shadow: 0px 5px 0px 0px rgba(130,23,99,1);
}

.btn-purple:hover{
  background-color: rgba(181,22,125,1);
  color: white;
}


.btn-purple:focus,
.btn-purple:active{
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow:0 0 0 0;
  box-shadow: 0 0 0 0;
  transform: translateY(5px);
}

.btn-blue{
  background-color: rgba(58,189,221,1);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(25,127,152,1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(25,127,152,1);
  box-shadow: 0px 5px 0px 0px rgba(25,127,152,1);
}

.btn-blue:hover{
  background-color: rgba(33,163,196,1);
  color: white;
}


.btn-blue:focus,
.btn-blue:active{
  color: white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow:0 0 0 0;
  box-shadow: 0 0 0 0;
  transform: translateY(5px);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
   MAIN SECTION
----------------------------------------------------- */
#play-section-main{
  min-height: 85vh;
  background-image: url('../../images/bg-full.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}


#main-info{
  z-index: 2;
  width: 100%;
  background-image: url('../../images/bg-main-nubes.png');
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 600px;
  min-height: 85vh;
}


.btn-play{
  max-width: 250px;
  height: 120px;
  background-image: url('../../images/btn-play.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.btn-play:hover,
.btn-play:active,
.btn-play:focus{
  background-image: url('../../images/btn-play-pressed.png');
}
/* ---------------------------------------------------
    play-section-videos
----------------------------------------------------- */




#play-section-videos{
 background-image: url('../../images/bg-videos-section.png');
 background-size: contain;
 background-position: top center;
 background-repeat: no-repeat;
 background-color: white;
}

.videos-new-banner{
  position: absolute;
  z-index: 1;
  width: 15vw;
  max-width: 150px;
  top: -7px;
  right: 14px !important;
    /*transform: rotateY(180deg);*/
}

@media screen and (min-width: 700px){
    .videos-new-banner{
        top: -20px;
    }
}

.img-planeta{

    position:absolute;
    top: 76%;
    left: 78% ;
    width: 35%;
    height: 50%;
}


#NewText{

    font-size: 2vw;
    font-weight: bold;
    font:"Quicksand_medium";
    color:#fff;
    text-align: center;
    position: relative;
    margin-top:-80%;
    margin-right: -30%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);

}

.video-title-container{
 width: 100%;
 text-align: center;
 vertical-align: middle;
 background-color: #073ca8; /* Old browsers */
  background-color: -moz-linear-gradient(left, #073ca8 0%, #2989d8 50%, #3db1ff 100%); /* FF3.6-15 */
  background-color: -webkit-linear-gradient(left, #073ca8 0%,#2989d8 50%,#3db1ff 100%); /* Chrome10-25,Safari5.1-6 */
  background-color: linear-gradient(to right, #073ca8 0%,#2989d8 50%,#3db1ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073ca8', endColorstr='#3db1ff',GradientType=1 ); /* IE6-9 */
 border-radius: 0px 0px 15px 15px;
 -moz-border-radius: 0px 0px 15px 15px;
 -webkit-border-radius: 0px 0px 15px 15px;
 border: 0px solid #000000;
 background-image: url(../../images/pattern-video-title.png);

}

.video-title-container p{
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  color: white;
}

.video-thumbnail img{
  margin: 0 auto;
}
.slick-slide {
    outline: none
}
.slick-prev{
  display: inline-block;
  background-image: url('../../images/btn-video-thumb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255,255,255,0);
  border: 0px;
  width: 50px;
  height: 50px;
  color:rgba(255,255,255,0);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  float: left;
  outline: none !important;
}
.slick-buttons{
  width: 100%;
  z-index: 3;
  margin-left: 0;
  margin-right: 0;
  left: 0;
  right: 0;
  top:30%;
  height:1px;
}
.slick-next{
  display: inline-block;
  background-image: url('../../images/btn-video-thumb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255,255,255,0);
  border: 0px;
  width: 50px;
  height: 50px;
  color:rgba(255,255,255,0);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  float: right;
  outline: none !important;
}

.slick-prev:hover, .slick-next:hover{
  background-image: url('../../images/btn-video-thumb-pressed.png');
  background-color: rgba(255,255,255,0);
  border: 0px !important;
}
/* ---------------------------------------------------
    webgames menu section
----------------------------------------------------- */
#play-section-webgames-menu{
 background-color: #92cdfc;
}
#menu-webgames{
  text-align: center;
  hyphens: auto;
  color: #fff;
  font-weight: 500;
}
.games-selection-menu{
  background-color: #92cdfc;
}

.games-selection-menu p{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
}

.subject-btn{
  height: 80px;
  width: 69px;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.subject-btn.allsubjects{
  background-image: url('../../images/btn-allsubjects.png');
  background-position: 0;
}
.subject-btn.allsubjects:hover{
  background-position: 100%;
}

.subject-btn.math{
  background-image: url('../../images/btn-math.png');
  background-position: 0;
}
.subject-btn.math:hover{
  background-position: 100%;
}

.subject-btn.coding{
  background-image: url('../../images/btn-coding.png');
  background-position: 0;
}

.subject-btn.coding:hover{
  background-position: 100%;
}

.subject-btn.science{
  background-image: url('../../images/btn-science.png');
  background-position: 0;
}

.subject-btn.science:hover{
  background-position: 100%;
}

.subject-btn.health{
  background-image: url('../../images/btn-health.png');
  background-position: 0;
}

.subject-btn.health:hover{
  background-position: 100%;
}

.subject-btn.sust{
  background-image: url('../../images/btn-sust.png');
  background-position: 0;
}

.subject-btn.sust:hover{
  background-position: 100%;
}

.subject-btn.geo{
  background-image: url('../../images/btn-geo.png');
  background-position: 0;
}

.subject-btn.geo:hover{
  background-position: 100%;
}

.subject-btn.crea{
  background-image: url('../../images/btn-crea.png');
  background-position: 0;
}

.subject-btn.crea:hover{
  background-position: 100%;
}

.subject-btn.lang{
  background-image: url('../../images/btn-lang.png');
  background-position: 0;
}

.subject-btn.lang:hover{
  background-position: 100%;
}

.subject-name{
  color: white;
  font-size: 1.1em;
}
/* ---------------------------------------------------
    webgames section
----------------------------------------------------- */

#play-section-webgames-games{
 background-color: #57a6ff;
 background-image: url(../../images/pattern-webgames.png);
}
.game-container{
  padding: 10px;
}

.game-container img{
    width: 330px;
    border-radius: 2vh;
    border:5px solid white;
}

.game-container div{
  border-radius: 25px;
  border: 3px solid white;
  width: 308px;
  height: 155px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.container-webgames{
  background-image: url(../../images/bg-webgames-section.png);
  background-position:  top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 5vh;
}
#play-webgames-footer{
  background-image: url(../../images/bg-webgames-footer.png);
  background-position:  top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 5vh;
  min-height: 20vh;
}

#play-webgames-footer > .container-fluid{
  min-height: 260px;
}

#play-webgames-footer img{
  display: inline-block;
  z-index: 1;
}
#play-webgames-footer img:nth-child(1){
left:30px;
}
#play-webgames-footer img:nth-child(2){
 position:relative;
 float: right;
 right:0;
}
/* ---------------------------------------------------
    downloads section
----------------------------------------------------- */
#play-section-books{
  background-image: url(../../images/pattern-books.png);
  background-repeat:repeat;
  background-color: #1AD683;
  width: 100%;
  padding: 5vh;
  min-height: 20vh;
}

.downloads-title,
.downloads-footer{
  background-position:  center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10vh;
  vertical-align: middle;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.downloads-title{
  background-image: url(../../images/bg-downloads-header.png);

}

.downloads-footer{
  background-image: url(../../images/bg-downloads-footer.png);
}
.downloads-title p{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
}

.download-cards{
  padding: 0 10px;
}

.download-cards-group{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(255,255,255,1);
  padding: 30px 20px;
}
.download-cards-group>*{
  text-align: center;
}

.download-cards-group>img{
 max-width: 200px;
 margin: 0 auto;
}

.download-cards-group .title{
  color:#541193;
}


/* ---------------------------------------------------
    Our apps
----------------------------------------------------- */

#section-our-apps{
  background-image: url(../../images/pattern-our-apps.png);
  background-position:  top;
  background-repeat: repeat;
  background-size: auto;
  background-color: #f4f4f4;
  width: 100%;
  padding-top: 5vh;
  min-height: 20vh;
}

#play-our-apps-imgs{
  width: 100%;
  min-height: 20vh;
}

#play-our-apps-imgs > .container-fluid{
  min-height: 260px;
}

.our-apps-char-imgs{
  position: absolute;
  z-index: 0;
  width: 100%;
}
.img-char{
  display: inline-block;
  z-index: 1;
}
.img-char:nth-child(1){
position:relative;
left:30px;
}
.img-char:nth-child(2){
 position:relative;
 float: right;
 right:0;
}

.yogome-game-container{
  display: inline-block;
  width: 32%;
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}

.yogome-game-container img{
  max-width: 90px;
  margin: 0 auto;
}

.yogome-game-container p{
  font-weight: 500;
}

/* ---------------------------------------------------
    footer
----------------------------------------------------- */

footer{
  background-color: white;
}

.play-footer{
  padding: 20px;
  text-align: center;

}

@media screen and (max-width: 770px){
    .play-footer{
      padding: 5px;
      text-align: center;

    }
}

.play-footer>*{
  display: inline;
  vertical-align: middle;
  padding: 0 10px;
}
.footer-logo{
  max-width: 120px;
}

.play-footer>p{
 text-align: right;
 vertical-align: middle;
}
.play-footer>p>a{
 text-decoration: underline;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (max-width:1185px){
  .img-char{
    opacity: .4;
  }
}

@media (max-width: 768px){
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse, .
  container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }

    .dropdown-menu{
           top:-210%
    }

  #play-section-main {
    min-height: 485px;
  }

  #main-info{
    background-image: url('../../images/bg-main-nubes.png');
    min-height: 485px;
  }
    #devicelogInButton,
  #register-btn-sm{
    display: block!important;
    margin: 10px auto;
  }

  .navbar-logo{
    float: none;
  }

  .subject-btn{
    height: 60px;
    width: 53px;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
  }

  .game-container div{
    border-radius: 25px;
    border: 3px solid white;
    width: 500px;
    height: 200px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
 }
 #play-webgames-footer .container-fluid{
   text-align: center;
   margin: 0 auto;
 }
 #play-webgames-footer img:nth-child(1){
  max-width: 240px;
  z-index: 0;
  float: left;
 }

 .download-cards{
   padding:20px 10px;
 }
}

#yogodex-section{

     background-color: #1D1782;
    background-image: url("../../images/yogodex-pattern.png");
    background-position:center;
    text-align: center;
    margin: 0 auto;
}

.yogodex-contain{
    width: 80%;
    margin-left:10%;
    padding: 2vh;
}

.yogodex-cornerleft{
    margin-top:0%;
    z-index: 0;
    position: absolute;
    width: 100%;
}

.yogodex-cornerleft img{
    width: 100%;
}


.yogodex-logo{
    text-align: center;
    padding: 5vh;
     z-index: 1;
}

.yogodex-logo img{
    width: 80%;
    max-width: 300px;
}

.yogodex-texto{
    padding: 2vh;
    z-index: 1;
}

.yogodex-texto p{
    color: #FFF !important;
    font-weight: 500;
}

.yogodex-button{
    margin: 0 auto;
    background-color: #C81C8A;
    width: 50%;
    max-width: 300px;
    text-align: center;
    color: #FFF;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 0px 5px 0px #801763;
}

#resources-section{
    background-color: #5E029F;
    align-items: center;
    background-image: url("../../images/resources_pattern.png");
    background-size: contain;
}

.resources-contain{
    padding: 4vh;
    width: 80%;
    margin-left: 10%;

}

.resources-text h1{
    color: white;
}

.resources-text p{
    color: #FFF !important;
    font-weight: 400;
}

.resources-img{
    text-align: center;
}

.resources-img img{
    width: 100%;
}

.resources-button{
    margin: 0% auto;
    width: 50%;
    max-width: 300px;
    text-align: center;
    color: #FFF;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 0px 5px 0px #801763;
}

.buttonsCenter{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-left: 50%;

}

.slick-nav-buttons{
    width: 30%;
    transform: translate(-50%,0%);
}

.slick-buttons{
    width: 30%;
    transform: translate(-50%,0%);
}

.title-purple{
    position: relative;
    text-align: center;
    font-size: 1.7em;
    width: 45%;
    margin: 2% auto;
    color:white !important;
    padding: 2vh;
    background-image: url("../../images/purpleTitle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-weight:bold;

}

.title-blue{
    position: relative;
    text-align: center;
    font-size: 1.7em;
    width:45%;
    margin: 2% auto;
    color:white !important;
    padding: 2vh;
    background-image: url("../../images/blueTitle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-weight:bold;

}

.shadow-ray{
    background-image: url("../../images/bg-title.png");
    position: absolute;
    text-align: center;
    width: 30%;
    height: 3em;
    left: 50%;
    transform: translate(-45%,90%);
    display: none;
    padding: 2vh;
    background-color:white;
}

@media (max-width: 950px){
  .img-char{
  display: none;
}

}


@media (max-width: 700px){

}

.mixpanel-call{
    cursor: pointer;
}

/*LOG USER*/



.accesButtons{
    right: 1.5%;
    float: right !important;
}

.navbar-right {
    float: right !important;
}

#menuUser{
    margin: 0;
    padding: 0;
    display: none;
    right: 0;
}

#menuUser div{
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    cursor: pointer;
}

.loginAccess{
    background-color: #d01c92;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginAccessMovil{
    background-color: #d01c92;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 2vw;
    justify-content: center;
}


.logout {
    background-color: #7c06b8;
    color: #FFF;
    text-align: center;
    border: 0;
}

.logout p{
    color: #FFF;
    width: 100%;

}
.logout img{
    margin-top:15%;
    width: 25px;
}

#menuUserMovil{
    display: none;
}

.logoutMovil{
    background-color: #7c06b8;
    color: #FFF;
    text-align: center;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logoutMovil img{
    width: 15%;
}

/*PARCHES*/

@media (min-width: 1200px)
{
.container {
    width: 100% !important;
}
}
