body{
	margin: 0;
	background-image: url("../images/pattern-bg.png");
	background-position: center;
	background-size:contain;
	color:#FFF !important;
    overflow-x: hidden;
}

#promoGame-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

#bannerPromo{
    position: relative;
    margin: 0 auto;
    transform: translate(0%,50%);
    width: 60%;
}

#bannerPromo img{
    position: relative;
    width: 90%;
    border-radius: 2vh;
}

#newpromo{
    position: absolute;
    font-family: sans-serif;
    font-size: 4vh;
    z-index: 130;
    width: 100%;
    margin-top:5%;
    text-align: center;
}

#newpromo img{
    width: 100%;
}

#closepromo{
    position: absolute;
    left:95%;
    transform: translate(-50%,0%);
    padding:1vh;
    width: 5%
}

#closepromo img{
    width: 100%;
}

#playbtnPromo{
    position: relative;
    margin: 0% auto;
    width: 100%;
    height: 10%;
    margin-top: 15%;
}

#playbtnPromo span{
    position: absolute;
    width: 100%;
    left:0;
    top:30%;
    font-size: 5vh;
    font-family:"arial";
}



#generalContainer{

}

.hidden{
	display: none;
}
.banner{
	position: relative;
	padding: 1%;
	margin-bottom: 2%;
}


.banner .col-md-1{
	margin-top: 2%;

}

#gamesContainer{
    position: relative;
	text-align: center !important;
	width: 100%;
	text-align: center;
	padding: 0%;
}

#gamesContainer img{
	width: 256px;
	height: 128px;
	padding:0.8vh;
  border-radius: 2vh;
    margin: 0 auto;
}


.containerSubjectsMenu{
}

#menuSubjectButtons{
    display: flex;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    height: 20%;

}

.subjectSelectionBtn{
	text-align: center;
	color:black;
	cursor: pointer;
    padding: 0.5vh;
    width: 90%;

}

.btnSubjects{
    position: relative;
    width: 100%;
}

.text-btnsubject{
    position: relative;
    top:-2em;
    color:#FFF;
    font-size: 2oem;
    
}

footer{
    position: relative;
    clear: both;
    background-color: #5F13AF;
    padding: 3vh;
}

.menu-footer{
    text-align: center;
}

.copyright{
    text-align: center;
}

#sectionMenu{
    visibility: hidden;
}

#login-btn-sm{
	position: absolute;
  right: 20;
  top: 10;
	z-index: 1;
}



#logout-btn{
	position: absolute;
  right: 20;
  top: 10;
	z-index: 120;
}

.btn-login{
	-webkit-border-radius: 50px !important;
	-moz-border-radius: 50px !important;
	border-radius: 50px !important;
  background-color: #5F13AF;
	color: #fff;
}

.btn-login:hover, .btn-login:active, .btn-login:focus, .btn-login:visited{
  background-color: #5F13AF;
	color: #fff !important;
}

#login-btn-xs{
	bottom: 0%;
	position: absolute;
	width: 100%;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	z-index: 150;
}

#logout-btn-xs{
	bottom: 0%;
	position: absolute;
	width: 100%;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	z-index: 150;
	background-color: grey;
	color: white;
}

.loadingGif{
  max-width: 40px !important;
	text-align: center;
	margin: 0 auto;
}

#login-form{
  text-align: center;
}

.login-text{
	text-align: left;
	color: #b71598;
	font-size: 1em;
	padding-top: 20px;
}

.empty-space{
  padding-top: 15px;
}
#loginBtnContainer{
	margin: 0px;
	width: 100%;
	padding: 0%;
}

#btn-login-img img{
	width: 256px;
	padding:0.8vh;
  border-radius: 2vh;
}

.modal-title{
	color:#5F13AF;
}

.modal-text{
	color: grey;
	text-align: center;
}

#successModal .modal-content{
	background-image: url('../images/pattern-stars.png'), #9d13ad; /* Old browsers */
	background-image: url('../images/pattern-stars.png'), linear-gradient(to bottom, #08011E 0%,#5f13af 100%); /* Old browsers */
	background-image: url('../images/pattern-stars.png'), -moz-linear-gradient(to bottom, #08011E 0%,#5f13af 100%); /* Old browsers */
	background-image: url('../images/pattern-stars.png'), -webkit-linear-gradient(to bottom, #08011E 0%,#5f13af 100%); /* Old browsers */
	background-size: cover;
	text-align: center;
}

#successModal .modal-header{
	border-bottom: 0;
	text-align: center;
}

#successModal .modal-footer{
	border-top: 0;
	text-align: center;
}

.success-modal-btn-close{
	-webkit-border-radius: 50px !important;
	-moz-border-radius: 50px !important;
	border-radius: 50px !important;
  background-color: #08011E;
	padding-right: 20px;
	padding-left: 20px;
	color: #fff;
}

@media (max-width: 760px) {

#bannerPromo{
    width: 100%;
}

#playbtnPromo{
    margin-top:25%;
}

footer img{
    width: 40%;
}

#gamesContainer{
	margin: 0px;
	width: 100%;
	padding: 5%;
}

#gamesContainer img{
	width: 100%;
	height: auto;
	border-radius:2vh;
	padding: 0.5vh;
    z-index: 0;
}

#btn-login-img img {
    width: 100%;
		height: auto;
		border-radius:2vh;
		padding: 0.5vh;
	  z-index: 0;
}

#sectionMenu{
    visibility: visible;
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 5%;
    padding: 1vh;
    }

.containerSubjectsMenu{
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
}

#menuSubjectButtons{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    top:10%;
    height: 100%;

}

.subjectSelectionBtn{
    display: inline-block;
	text-align: center;
	color:black;
	cursor: pointer;
    padding: 0.5vh;
    width: 30%;
    z-index: 12;

}

.btnSubjects{
    position: relative;
    width: 100%;
}

.text-btnsubject{
    position: relative;
    top:75%;
    margin-top:0;
    width: 95%;
    color:#FFF;
    font-size: 2.5vh;
}

#closepromo{
    position: absolute;
    left:90%;
    transform: translate(-50%,0%);
    padding:1vh;
    width: 10%
}

#closepromo img{
    width: 100%;
}


}

@media (max-width: 1024px) {
.text-btnsubject {
    position: relative;
    margin-top:0%;
    color: #FFF;
    font-size: x-small;
}
#closepromo{
    position: absolute;
    left:95%;
    transform: translate(-50%,0%);
    padding:2vh;
    width: 13%
}

#closepromo img{
    width: 100%;
}

}

#gamesContainer .row
{
    margin-left:0% !important;
    margin-right:0% !important;    
}
