body {
    overflow-x: hidden;
    background-image: url(../../images/books/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #96caf4;

}

footer{
    width: 100%;
    bottom: 0;
}

#title-videos{
    margin: 0 auto;
    text-align: center;
}
#title-videos img{
    width: 40%;
    max-width: 540px;
}


#bg-webisodies{
    position: absolute;
    width: 90%;
    height: 84.3%;
    top:8%;
    margin-left: 5%;
}

#bg-webisodies img{
    position: absolute;
    width: 100%;
    height: 100%;
}

#videoContainer{
}

#player{
    border-radius: 5vh;
}

.textNew{
    font-size: 2.5vw;
    font-family: 'Luckiest Guy';
    color: #FFF;
    transform: rotate(40deg);
    position: absolute;
    top: 12%;
    left: 50%;
    z-index: 1;
    transform-origin: 0% 0%;
}

.title-name-video{
    text-align: left;
    font-size: 4vw;
    font-family: 'Quicksand', sans-serif;
    color: #0ba3f7;
    padding: 1vw;
    padding-top:8vw;
    padding-bottom: 0;
    font-weight:bold;
}


.wallpaper-thumb{

    border-radius: 4vh;
    border:1vh solid #0ba3f7;
    background-color: #0ba3f7;

}

.video-icon{
    position: relative;
    transform: translate(245%,-85%);
}

#wallpaper-slider{
    width: 100%;
}

.slick-nav-buttons{
    position: absolute;
    width: 140%;
    transform: translate(-19%,40%);
}


.slick-next, .slick-prev {
background-image: url("../../images/books/BotonBooksNext.png");
    width: 50px;
    height: 50px;
}

.slick-next:hover ,.slick-prev:hover {
background-image: url("../../images/books/BotonBooksNext.png");
}


h1{
    color: white;
}

h2{
    color: #525252;
    margin-left: 3%;
}

.bg-webisodes-main {

    background-position: left;

}

.main-title {
    font-size: 90px;
    font-weight: 600;
    color: #fff;

}

.main-text {
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    margin: auto;
}

.main-texts{
    width: 100%;
    text-align: center;
}

.green-bgtext{
    background-color:#66DB67;
    color:#FFF;
    width: 40%;
    font-size: 2em;
    margin: 2vh auto;
    margin-bottom: 2vh;
}

.blue-bgtext{
    position: relative;
    background-color:#4CA2F1;
    color:#FFF;
    width: 60%;
    font-size: 2em;
    margin: 0 auto;
}

.magenta-bgtext{
    background-color:#C51C87;
    color:#FFF;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3vh;
}

.mainText{
    width:50%;
    margin:5vh auto 5vh auto;
}

.video-main{
    margin: 5% auto;
    text-align: center;
    width: 100%;
}

.video-main iframe{
    border-radius: 3vh 3vh 0 0;
    width: 50%;
    margin-bottom:-0.5%
}

.liston-new{
    position: relative;
    left: 0%;
    width: 100%;
}

.liston-new img{
    position: absolute;
    left: 24%;
    margin-top:-0.8%;
    width: 10%;
}

.bars-main{
    position: relative;
    color: #FFF;
    width: 50%;
    margin: 0 auto;
    font-size: 6vh;
    border-radius: 0 0vh 3vh 3vh;
    background-color: #3DA6FF;
    /*  background: linear-gradient(to bottom, rgba(119,0,216,1) 0%, rgba(74,0,144,1) 100%);*/
    background-image: url("../../images/bars-webisodes.png");

}

.white-text {
    color: #fff;
}

.yellow-text {
    color: #ffec2d;
}

.second-title {
    font-size: 40px;
    font-weight: 500;
}



.pattern-ray{
     background-image: url("../../../../assets/images/pattern-downloads.png");
}

.bg-zip {
    background-image: url("../../images/container_full.png");
    background-repeat: no-repeat;
    background-size: 80% 90%;
    background-position: 50% 100%;
}

.newBg-zip {
background-image: url(../../images/container_full.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: bottom;
    width: 100%;
    position: absolute;
    height: 100%;
}

.equal {
    background-image: url("../../images/yogofun-equal.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.zip-green {
    background-image: url("../../images/yogofun-green.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.videos-new-banner-yellow{
  position: absolute;
  z-index: 1;
  width: 15vw;
  max-width: 150px;
  top: -5px;
  right: 10px !important;
    /*transform: rotateY(180deg);*/
}


/*helpers-----*/

.clear-padding {
    padding: 0!important;
}

.clear-margin {
    margin: 0!important;
}

.more-videos {
    margin-top: -10%;
}

.colors-activity{
    background-image: url(../../images/pattern-our-apps.png);
    background-color: #4D9CE8;

}

.title-image{
    position:absolute;
    transform-origin: 50% 50%;
}

.video-size{
    width: 70% !important;
    margin-left: 15.5%;
    margin-top: 8% !important;
}

/*queries-------------*/


/* mid-container */

@media only screen and (min-width: 1px) and (max-width:1150px) {
    .mid-container {
        width: 200%;
        height: auto;
        margin: auto;
    }
    .wallpaper-thumb {
    width: 80%;
    margin: 10px;
    margin-top: 25px;
    margin-left: 0px;
    border: 0.4vh solid #0ba3f7;
    border-radius: 1.5vh;
    }

    .video-icon{
        width: 30%;
        transform: translate(-110%,-110%);
    }
}

@media only screen and (min-width: 1151px) {
    .mid-container {
        width: 1150px;
        height: auto;
        margin: auto;
    }
    .wallpaper-thumb {
        width: 200px;
        margin-left: 10px;
    }
}

@media only screen and (max-width:414px) {
    .main-title {
        font-size: 40px;
    }
    .main-text {
        font-size: 17px;
        width: 80%;
    }
}

@media screen and (min-width: 1000px){
    .textNew{
        font-size: 20px;
    }
}
@media screen and (min-width: 770px){

    .slick-nav-buttons{
        position: absolute;
        width: 120%;
        transform: translate(-10%,40%);
    }

    .slick-next, .slick-prev {
    background-image: url("../../images/books/BotonBooksNext.png");
        width: 100px;
        height: 100px;
    }
}

@media only screen and (min-width:415px) and (max-width:1024px) {}

@media only screen and (min-width:1025px) {}
