html, body {
      margin: 0;
      padding: 0;
     font-family: 'Lobster', cursive;
background:url("../images/stars01.png"), linear-gradient(to bottom, #632c94 0%, #1b1464 100%);
    height: 100%;
    width: 100%;
    transition: background 0.8s ease;
    color:#FFF;
    }

#logo{
    background: linear-gradient(to bottom, #6d769d 90%, #1b1464 100%);;
    text-align: center;
    width: 100%;
    padding: 0.4vw;
}

#logo img{ 
    width: 10%;
    margin: 1%
}

.text-title{
    width: 90%;
    margin:2% 0% 0% 5%;
    font-size: 3vw;
    display: flex;
}

    .slider {
                transform: scale(1.5);
        width: 50%;
        margin: 10% auto;
    }


    .slick-slide {
        
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;

    }


    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
/*      opacity: .5;*/
    }

    .slick-active {
/*      opacity: .5;*/
    }

    .slick-current {
/*      opacity: 1;*/
    }


    #onGoingGames{
        position: absolute;
        left: 10%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    #onGoingGames img {
        width: 400px;
    }