html, body {
      margin: 0;
      padding: 0;
    font-family: "arial";
    }

#logo{
    background-color: aqua;
    text-align: center;
    width: 100%;
}

#logo img{ 
    width: 10%;
}

.text-title{
    width: 90%;
    margin:2% 0% 0% 5%;
    font-size: 3vw;
    display: flex;
}

    .slider {
                transform: scale(1.5);
        width: 50%;
        margin: 10% auto;
    }

    .slick-slide {
        
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;

    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }

    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }