
html{
   animation: colorchange 10s infinite; 
    -webkit-animation: colorchange 10s infinite;
}

    body {
        font-family: "VAGRounded";
        color:#FFF;
    }

    @keyframes colorchange
    {
      0%   {background: #b40909;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: #b40909;}
    }

    @-webkit-keyframes colorchange
    {
      0%   {background: #b40909;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: #b40909;}
    }

/*LOADER*/
.loader{
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin: .19em;
  background: #007DB6;
  border-radius: 6em;
  animation: loader 1s infinite alternate;
}

.loader span:nth-of-type(2) {
  background: #008FB2;
  animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
  background: #009B9E;
  animation-delay: 0.4s;
}
.loader span:nth-of-type(4) {
  background: #00A77D;
  animation-delay: 0.6s;
}
.loader span:nth-of-type(5) {
  background: #00B247;
  animation-delay: 0.8s;
}
.loader span:nth-of-type(6) {
  background: #5AB027;
  animation-delay: 1.0s;
}
.loader span:nth-of-type(7) {
  background: #A0B61E;
  animation-delay: 1.2s;
}

 
@keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}