
/*body{*/
/*position: absolute;*/
/*font-size: 1em;*/
/*overflow: hidden;*/
/*margin: 0;*/
/*height: 100%;*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/

/* The lgmodal (background) */
#signIn {
    padding-right: 0 !important;
    padding-top: 3%;
}

.lgmodal {

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: animateBack;
    -webkit-animation-duration: 0.6s;
    animation-name: animateBack;
    animation-duration: 0.6s;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    z-index: 1000;
}

/* lgmodal Content */
.lgmodal-content {
    position: absolute !important;
    top:50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: #fefefe;
    padding: 2vh;
    border: 2px solid #888;
    width: 90%;
    /*top:0%;*/
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

.lgmodalBranch {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.lgmodalBranch-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    border: 2px solid #888;
    width: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:50%; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:50%; opacity:1}
}

@-webkit-keyframes animateBack {
    from {background-color: rgba(0,0,0,0); }
    to {background-color: rgba(0,0,0,0.4); }
}

@keyframes animateBack {
    from {background-color: rgba(0,0,0,0); }
    to {background-color: rgba(0,0,0,0.4); }
}

.back {
    padding: 0.5%;
    float: left;
}

.back :hover {
    color: #000;
    cursor: pointer;
    padding: 0%;
}

.navigation{
    background-color: #ffffff;
}

.lgmodal-header {
    background-color: #ffffff;
    text-align: center;
}

.lgmodal-body {
    text-align: center;
}

.lgmodal-footer {
    font-size: 1em;
    width: 100%;
    color: black;
    text-align: center;
}

h2{
    font-size: 1.8em !important;
    color: #7fc83c !important;
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-size: 1.5em !important;
    font-family: 'Open Sans', sans-serif;
}

h3:before,
h3:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 1px;
    width: 40%;
}
h3:before {
    right: 1em;
    margin-left: -50%;
}
h3:after {
    left: 1em;
    margin-right: -50%;
}

.inputText {
    margin: 1vh;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.75);
    text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    height: 5vh;
}

.logoSize{
    height: 40%;
    width: 40%;
}

.smallRed{
    color: #ff4040;
    font-size: 1em;
}

.smallBlue{
    color: #009cee;
    font-size: 1vw;
}

.smallPink{
    color: #d23587;
    text-align: center;
}

.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
}

.agreeLegend{
    text-align: justify;
    color: dimgrey;
}

.agreeLink{
    text-align: justify;
    color: #444444;
    text-decoration: underline;
    font-weight: bold;
}

/*BANNER*/
.topImg{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topImg .particule{
    width:15%;
    max-width: 200px;
}

.topImg .logo{
    /*width:80%;*/
    max-width: 33vh;
}

.recoverBtn {
    border-style: none;
    border-radius:5px;
    display:inline-block;
    cursor:pointer;
    color:#ff4040;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}

.recoverBtn:hover {
    background-color:#fce8db;
}

.loginBtn {
    padding: 1vh;
    margin: 1vh;
    border-radius: 8px;
    border-style: none;
    cursor:pointer;
    width: 80%;
    color: #FFF;
    font-size: 2.5vh;
}

.bgBlue {
    background-color: #1fc3ff;
    box-shadow: 0px 1vh 0px #0b526c;
}

.bgOrange {
    background-color: #ff8214;
    box-shadow: 0px 1vh 0px #7a2c14;
}

.bgGreen {
    background-color: #0eff09;
    box-shadow: 0px 1vh 0px #067004;
}

/*.loginBtn:hover {*/
/*margin-top:10px;*/
/*box-shadow: 0px 0vh 0px #0b526c;*/
/*}*/

.loginBtn:active {
    position:relative;
    top:1px;
    margin-top: 1vh;
    box-shadow: 0px 0vh 0px #0b526c;
}

.addPlayer {
    background-color: #ff6400;
    box-shadow: 0px 1vh 0px #6c3100;
    padding: 1vh;
    margin: 1vh;
    border-radius: 8px;
    border-style: none;
    cursor:pointer;
    width: 80%;
    max-width: 200px;
    color: #FFF;
    font-size: 2.5vh;
}

/*.loginBtn:hover {*/
/*margin-top:10px;*/
/*box-shadow: 0px 0vh 0px #0b526c;*/
/*}*/

.addPlayer:active {
    position:relative;
    top:1px;
    margin-top: 1vh;
    box-shadow: 0px 0vh 0px #0b526c;
}

.okBtn {
    background-color: #20b606;
    box-shadow: 0px 1vh 0px #0b526c;
    padding: 1vh;
    margin: 1vh;
    border-radius: 8px;
    border-style: none;
    cursor:pointer;
    width: 80%;
    max-width: 200px;
    color: #FFF;
    font-size: 2.5vh;
}

.okBtn:active {
    position:relative;
    top:1px;
    margin-top: 1vh;
    box-shadow: 0px 0vh 0px #189004;
}

.fbBtn {
    background: url('../images/button-facebook.png') no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2vh;
    border-style: none;
    display:inline-block;
    cursor:pointer;
    width: 100%;
    margin-bottom: 2vh;
}

.fbBtn:hover {
    background: url('../images/button-facebook-hover.png') no-repeat;
    background-size: contain;
    background-position: center;
}
.fbBtn:active {
    position:relative;
    top:1px;
}

.googleBtn {
    background: url('../images/button-google.png') no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2vh;
    border-style: none;
    display:inline-block;
    cursor:pointer;
    width: 100%;
    margin-bottom: 2vh;
}

.googleBtn:hover {
    background: url('../images/button-google-hover.png') no-repeat;
    background-size: contain;
    background-position: center;
}
.googleBtn:active {
    position:relative;
    top:1px;
}

.requestBtn {
    background: url('../images/button-request.png') no-repeat;
    background-size: cover;
    padding: 1vw;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    display:inline-block;
    cursor:pointer;
    width: 21.5vw;
}

.requestBtn:hover {
    background: url('../images/button-request-hover.png') no-repeat;
    background-size: cover;
}

.requestBtn:active {
    position:relative;
    top:1px;
}

.requestBtnComplete {
    background: url('../images/button-okay.png') no-repeat;
    background-size: cover;
    padding: 1vw;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    display:inline-block;
    cursor:pointer;
    width: 21.5vw;
}

.requestBtnComplete:hover {
    background: url('../images/button-okay-hover.png') no-repeat;
    background-size: cover;
}

.requestBtnComplete:active {
    position:relative;
    top:1px;
}

/* Close Button */
.closelgmodal {
    background: url('../images/close-icon.png') no-repeat !important;
    /*background-size: auto auto;*/
    background-size: cover !important;
    padding: 3% !important;
    border-width: 0px !important;
    border-style: solid !important;
    display: inline-block;
    cursor: pointer !important;
    position: absolute;
    right: 1.5vh;
}

.closelgmodal:hover {
    background: url('../images/close-icon-hover.png') no-repeat;
    background-size: contain;
    display:inline-block;
    cursor: pointer;
    padding: 3%;
}

/* Back Button */
.backlgmodal {
    background: url('../images/back-icon.png') no-repeat;
    background-size: contain;
    padding: 3%;
    border-width: 0px;
    border-style: solid;
    display:inline-block;
    cursor:pointer;
    float: left;
}

.backlgmodal:hover {
    background: url('../images/back-icon-hover.png') no-repeat;
    background-size: contain;
    display:inline-block;
    cursor: pointer;
    padding: 3%;
}

.createAccountBtn {
    background: url('../images/button-login.png') no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2vh;
    border-width: 2px;
    border-radius: 8px;
    border-style: none;
    display:inline-block;
    cursor:pointer;
    width: 100%;
}

.createAccountBtn:hover {
    background: url('../images/button-login-hover.png') no-repeat;
    background-size: contain;
}

.createAccountBtn:active {
    position:relative;
    top:1px;
}

input[type=text]:focus {
    border: 2px solid #555;
}

#error{
    color: red;
}
#recover{
    color:deepskyblue;
}

.container-login {
    max-width: 52vh !important;
}

#scrollArea{
    height: 46vh;
    overflow-y: scroll;
}

.saveTitle{
    color:black !important;
    font-size: 22px !important;
}

.containerPinPonit{
    /* width: 100%; */
    /* left: -1px; */
    height: 3vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    max-height: 4vh;
}

.pinPoint{
    align-self: center;
    height: 5vh;
    width: 5vh;
    margin: 0 auto;
    border-radius: 100%;
    background-color: lightgrey;
    /* display: inline-block; */
    /* background-size: 10px; */
}

.yogoContainer{
    position: absolute;
    height: 80%;
    width: 100%;
    border-radius: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.yogoButton {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor:pointer;
    width: 12vh;
    /* height:  90%; */
    background-color: white;
    border: none;
    height: 12vh;
    display: inline-block;
    margin: 1vh 0;
    cursor: pointer;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24);
}

.circle {
    /* position: absolute; */
    width: 4vh;
    height: 4vh;
    background-color: #d23587;
    border-radius: 100%;
    color:  white;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(230%,230%); */
    font-family: sans-serif;
    /* top: 12vh; */
    margin-top: 9vh;
    margin-left: 9vh;
}

.circle {
    /* position: absolute; */
    width: 4vh;
    height: 4vh;
    background-color: #d23587;
    border-radius: 100%;
    color:  white;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(230%,230%); */
    font-family: sans-serif;
    /* top: 12vh; */
    margin-top: 9vh;
    margin-left: 9vh;
}

.miniCircle {
    position: absolute;
    width: 3vh;
    height: 3vh;
    background-color: #d23587;
    border-radius: 100%;
    color: white;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(230%,230%); */
    font-family: sans-serif;
    /* top: 12vh; */
    margin-top: 7vh;
    margin-left: 7vh;
}

.textCircle{

}

.buttonSelect{
    background-color: #88ff88;
}

.imagenSelect{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 10vh;
    width: 10vh;
    margin: -2.7vh auto
}

.invalid {
    border-color: red;
    /* also need animation and -moz-animation */
    -webkit-animation: shake .5s linear;
    animation: shake .5s linear;
    moz-animation: shake .5s linear;
}

@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

.loader{
    background-image: url(../images/loader.gif);
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    text-align: left;
    opacity: 0.5;
}

.subtitle{
    font-size: 2vh !important;
    color: #f906e5 !important;
    font-family: 'Quicksand', sans-serif;
}

.increment{
    max-height: 200px;
    overflow: hidden;
    /*visibility: hidden;*/

    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    /*border-width: 0px;*/
}

.pinDisplay{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 6vh;
    width: 6vh;
}

.pinCircle{
    position: absolute;
    width: 2.2vh;
    height: 2.2vh;
    background-color: #d23587;
    border-radius: 100%;
    color: white;
    font-size: 1.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 4.2vh;
    margin-left: 4.2vh;
}

.labelSuccess{
    text-align: left !important;
    color: rgb(114, 121, 132);
    font-size: 2vh;
    padding-right: 40px;
    float: left;
}

.privacy{
    color: dimgray;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    margin-left: 20%;
}

.checkbox{
    position: absolute !important;
    left: 13%;
    width: 4vh;
}

hr {
    border-top: 2px solid #9b9898 !important;
}


/*.hide-element{*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: visibility 0s, opacity 0.5s linear;*/
/*}*/





